.Button {
	-fx-background-color:#c74545;
	-fx-moz-border-radius:28px;
	-fx-webkit-border-radius:28px;
	-fx-border-radius:28px;
	-fx-border: 1px ;
	-fx-border-color:#
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-color:#000000;
	-fx-font-family:Arial;
	-fx-font-size:17px;
	-fx-padding:16px 31px;
	-fx-text-decoration:none;

}
.Button:hover {
	-fx-background-color:#bd2a2a;
}
.Button:active {
	-fx-position:relative;
	-fx-top:1px;
}
